TRILHA-JAVA-MODULO-01/AULA-02/MeuPrimeiroProjeto/.vscode/settings.json
TRILHA-JAVA-MODULO-01/AULA-03/01-ANATOMIA-DAS-CLASSES/AnatomiaClasse01/.vscode/settings.json
TRILHA-JAVA-MODULO-01/AULA-03/01-ANATOMIA-DAS-CLASSES/AnatomiaClasse02/.vscode/settings.json
TRILHA-JAVA-MODULO-01/AULA-03/02-TIPOS-E-VARIAVEIS/TiposVariaveis/.vscode/settings.json
TRILHA-JAVA-MODULO-01/AULA-03/03-OPERADORES/Operadores/.vscode/settings.json
TRILHA-JAVA-MODULO-01/AULA-03/04-METODOS/Metodos/.vscode/settings.json
TRILHA-JAVA-MODULO-01/AULA-03/04-METODOS/Sistema-Smart-TV/.vscode/settings.json
TRILHA-JAVA-MODULO-01/AULA-03/07-JAVA-DOC/JavaDoc/.vscode/settings.json
TRILHA-JAVA-MODULO-01/AULA-03/08-TERMINAL-E-ARGUMENTOS/MinhaClasse/.vscode/settings.json
TRILHA-JAVA-MODULO-01/DESAFIO-DE-CODIGO/DESAFIO-DE-CODIGO-01/SolucaoDesafio01/.vscode/settings.json
TRILHA-JAVA-MODULO-01/DESAFIO-DE-CODIGO/DESAFIO-DE-CODIGO-02/SolucaoDesafio02/.vscode/settings.json
TRILHA-JAVA-MODULO-01/DESAFIO-DE-CODIGO/DESAFIO-DE-CODIGO-03/SolucaoDesafio03/.vscode/settings.json
